<div>
  <%= image_tag image_path(@user.photo) %>
  <div>
    <h1><%= @user.name %></h1>
    <p><strong>Number of Posts:</strong> <%= @user.posts.count %></p>
  </div>
</div>
<p><strong>Bio:</strong> <%= @user.bio %></p>

<ul>
  <% @user_posts.each do |post| %>
    <li><%= post.title %></li>
    <p><%=post.text%></p>
    <div>
      <p><%=post.comments_counter%></p>
      <p><%=post.likes_counter%></p>
    </div>

    
  <% end %>
</ul>
<button>See all Posts</button>
