<h1><%= @user.name %></h1>
<p><strong>Number of Posts:</strong> <%= @user.posts.count %></p>
<p><strong>Bio:</strong> <%= @user.bio %></p>

<ul>
  <% @user_posts.each do |post| %>
    <li><%= post.title %></li>
    <p><%=post.text%></p>
    <p><%=post.comments_counter%></p>
    <p><%=post.likes_counter%></p>
    
  <% end %>
</ul>
