<div>
  <%= image_tag image_path(@user.photo) %>
  <div>
    <h1><%= @user.name %></h1>
    <p><strong>Number of Posts:</strong> <%= @user.posts.count %></p>
  </div>
</div>
<ul>
  <% @user_posts.each do |post| %>
    <li>
      <strong>Post:</strong> <%= post.title %><br>
      <div>
        <p><%= post.text %></p>
        <span><%= post.comments_counter%></span>
        <span><%= post.likes_counter%></span>
      </div>
      <ul>
        <% post.recent_comments.each do |comment| %>
            <strong>User:</strong> <%= comment.user.name %><br>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
